div.RWSDevBlip {
    width: 900px !important;
}
fieldset.RWSDevBlip_container {
    width: 825px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-bottom: 10px !important;
    border: 1px solid lightgray !important;
    padding: 10px !important;
}
fieldset.RWSDevBlip_sub {
    width: 800px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-bottom: 10px !important;
    border: 1px solid lightgray !important;
    padding: 10px !important;
}
fieldset.RWSDevBlip_container legend, fieldset.RWSDevBlip_sub legend {
    font-size: 12px !important;
    color: dodgerblue !important;
}
fieldset.RWSDevBlip_container label, fieldset.RWSDevBlip_sub label {
    text-align: left !important;
    width: 125px !important;
    height: 24px;
    float: left !important;
    font-size: 12px !important;
    padding-top: 5px !important;
}
fieldset.RWSDevBlip_container input[type=text], fieldset.RWSDevBlip_sub input[type=text] {
    text-align: left !important;
    width: 150px !important;
    margin-left: -5px !important;
    margin-bottom: 10px !important;
    padding: 0 !important;
    height: 24px;
    float: left !important;
    font-size: 12px !important;
}
fieldset.RWSDevBlip_container select.titles, fieldset.RWSDevBlip_sub select.titles {
    text-align: left !important;
    width: 820px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-bottom: 10px !important;
    height: auto !important;
    font-size: 12px !important;
}
fieldset.RWSDevBlip_container p, fieldset.RWSDevBlip_sub p {
    clear: both;
    padding: 5px;
}
.first {
    margin-left:0;
    clear:left;
}
.fl {
    float: left !important;
}
.fr {
    float: right !important;
}
.ar {
    text-align: right;
}
.al {
    text-align: left;
}
.ac {
    text-align: center;
}
.clearfix {
    display: inline-block;
}
.tooltip {
    display: none;
    background: transparent url('../images/black_arrow.png');
    font-size: 12px;
    height: 70px;
    width: 160px;
    padding: 25px;
    color: #eee;
}
.required2 {
    color: #ff0000 !important;
}
.required {
    font-style: normal !important;
}
/* jquery validate error notices */
label.error {
    float: none !important;
    color: red !important;
    padding-left: .5em !important;
    vertical-align: top !important;
}
